.red{
	background-color:#DB3433;
	color:white;
}

.grey{
	background-color:#cdcdcd;
}

.green{
	background-color:#01A718;
	color:white;
}

.blue{
	background-color:#2762FF;
	color:white;
}

table, td, th{
	border:1px gray solid;
	border-collapse:collapse;
	margin:50px 25%;
}

table{
	width:50%;
	background-color:white;
}

body{
	background-color:#191919;
}

#alt{
	margin-top:5px;
}
